body{
    background-image: url(gg.png);
    background-attachment: fixed;
    background-size: cover;
}
#nav{
    margin-top: 9%;
    
}
#nav1{
    text-align: center !important;
}
h1{
   font-size: 100px;
   color: rgba(11, 194, 201, 0.733);
   text-align: center;
}
.orange{
    color: rgba(207, 76, 28, 0.726);
}